<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
            table,td,th{
                border:1px solid black;
                border-collapse:collapse;
                padding:10px
            }
            table{
                width:50%;
                
            }
        </style>
    </head>
    <body>
      
      <h2>Student Details - PDF </h2>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Course</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td>{{i.course}}</td>
                    <td>{{i.mobile}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <script src="" async defer></script>
    </body>
</html>